///// Logo

.compendium-logo {
  background: url('./morellonomicon-shift92.png') 0 0 no-repeat;
  background-size: contain;
  width: 64px;
  height: 64px;
  display: block;
}

.compendium-masthead .compendium-logo {
  margin-right: 15px;
  display: inline-block;
  vertical-align: text-bottom;
  border-radius: 5%;
}

///// Navbar

.compendium-nav .navbar-brand .compendium-logo {
  width: 30px;
  height: 30px;
  border-radius: 5%;
}


.compendium-nav .navbar-brand {
  font-size: 150%;
}

@media (min-width: 768px) {
  .compendium-nav .navbar-nav>li>a:hover,.compendium-nav .navbar-nav>.active>a, .compendium-nav .navbar-nav>.active>a:hover {
    border-bottom: 3px solid blue;
  }
}



//// Footer
.compendium-footer-links {
  padding-left: 0;
  margin-top: 20px;
  color: #999;

  li {
    display: inline;
    padding: 0 2px;

    &:first-child { padding-left: 0; }
  }
}

.compendium-disclaimer {
  @extend .compendium-footer-links;

  li {  display: block; }
}


.smart-anchor-suffix {
  padding-left: 0.5rem;
}



///// Fixes

// @TODO: remove the highlights
.highlight, .code-toggle.open {
  background-color: #263238 !important;
}

.highlight pre code {
  color: #ddd;
}

.auto { width: auto; }
.nobreak { white-space: nowrap; }
