.language-bar {
  width: 10em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 1px;
  margin-bottom: 1px;
  display: block;

  color: white;
}

.language-ruby {
  background-color: red;
}

.language-python {
  background-color: blue;
}

.language-php {
  background-color: darkblue;
}

.language-java {
  background-color: green;
}

.language-nodejs {
  background-color: darkgreen;
}


.language-cli {
  background-color: black;
}
